$accent: rgb(102, 140, 175);
.sort{
    position: relative;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    &__list{    
        position: absolute;
        right: 0;   
        top: 100%;
        border: 1px solid #888;
        padding: 0;
        background-color: #fff;
        width: 180px;
        text-align: center;
        z-index: 100;
        list-style-type: none;
        font-weight: 600;
        border-radius: 12px;
        overflow: hidden;
        li{
            
            padding: 4px;
            &:hover{
                background-color: rgb(201, 201, 201);
            }
        }

        .activeSort{
            color: #fff;
            background: $accent;
           
        }
    }
  }