$accent: rgb(102, 140, 175);
$red: rgb(255, 7, 7);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.quantity{
  border: none;
  text-align: center;
  color: $accent;
  font-size: 22px;
  font-weight: 600;
  background-color: transparent;
  position: relative;
  top: 4px;
}
.minus, .plus{
  display: inline-block;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $accent;
  
}
.skeleton{
  margin: 5px;
}
.noProduct{
  padding-top: 50px;
  text-align: center;
  font-size: 100px;
  color: $accent;
  margin: 20px auto;
  display: block;
}
.favorite__icon{
  position: relative;
  top: -4px;
  border: none;
}