$accent: rgb(102, 140, 175);
$red: rgb(255, 7, 7);


.header{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    &__navigationLink{
      text-decoration: none;
      color: $accent;
      font-weight: 600;
      padding: 6px 10px;
    }
    &__logo{
      font-style: italic;
      font-weight: 700;
      font-size: 24px;
    }
    &__card{
      cursor: pointer;
    }
  }
